<li class="media">
  <%= link_to gravatar_for(
                      user,
                      size: 52,
                      class: 'media-object'),
              user,
              class: 'pull-left' %>
  <div class="media-body">
    <h3 class="media-heading"><%= link_to user.name, user %></h3>
  </div>
</li>