<% provide(:title, 'All users') %>
<div class="center">
  <h1>All users</h1>

  <%= will_paginate %>

  <div class="users">
    <ul class="media-list col-md-offset-5 col-md-2">
      <%= render @users %>
    </ul>
  </div>
</div>