<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'shared/user_sidebar' %>
  <div class="col-md-8 microposts">
    <% if @user.microposts.any? %>
        <h2>Microposts (<%= @user.microposts.count %>)</h2>
        <div class="list-group">
          <%= render @microposts %>
        </div>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>