<%= link_to gravatar_for(current_user, size: 52), user_path(current_user) %>
<h1>
  <% if current_page?(current_user) %>
      <%= current_user.name %>
  <% else %>
      <%= link_to current_user.name, current_user %>
  <% end %>
</h1>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>