@import "bootstrap";

$footerHeight: 100px;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto $footerHeight * -1;
  padding: 0 0 60px;
}

footer {
  height: $footerHeight;
  background-color: #f5f5f5;

  p {
    margin: 20px 0;
    text-align: center;
  }
}

.navbar-static-top {
  margin-bottom: 19px;
}

.center {
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 15px;
  }
}

.jumbotron {
  text-align: center;

  h1 {
    padding-bottom: 10px;
  }
}

#logo {
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#rails_logo {
  position: absolute;
  margin-top: 20px;
  margin-right: auto;
  padding-right: 15px;
  right: 0px;

  img {
    opacity: 0.7;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(image_path("grayscale.svg"));
    filter: gray;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      opacity: 1.0;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      filter: none;
    }
  }
}

.debug_dump {
  margin-top: 45px;
}

/* sidebar */

aside {
  section {
    padding-bottom: 10px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

#error_explanation {
  ul {
    padding-top: 10px;
    padding-left: 10px;

    span {
      margin-right: 5px;
      top: 1px;
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: auto;
      }
    }
  }
}

.field_with_errors {
  @extend .has-error;
}

.sign-in {
  .help-block {
    padding-top: 15px;
    font-size: 1.3em;
  }
}

.edit_user {
  .gravatar {
    float: none;
  }

  .btn {
    position: absolute;
    margin-top: 5px;
  }
}

.micropost {
  resize: none;
}

.microposts {
  h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
  }

  article {
    aside {
      padding-left: 0;
    }

    section {
      h4 {
        padding-bottom: 0.3em;
      }

      p {
        padding-bottom: 0.5em;
      }

      span {
        font-style: italic;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;

    &:hover, &:visited, &:active {
      text-decoration: none;
    }
  }
}

.pagination {
  margin-top: 0;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

section {
  h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
  }
}