@import "bootstrap";

$footerHeight: 100px;

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto $footerHeight * -1;
  padding: 0 0 60px;
}

footer {
  height: $footerHeight;
  background-color: #f5f5f5;

  p {
    margin: 20px 0;
    text-align: center;
  }
}

.navbar-static-top {
  margin-bottom: 19px;
}

.center {
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 15px;
  }
}

.jumbotron {
  text-align: center;

  h1 {
    padding-bottom: 10px;
  }
}

#logo {
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#rails_logo {
  position: absolute;
  margin-top: 20px;
  margin-right: auto;
  padding-right: 15px;
  right: 0px;

  img {
    opacity: 0.7;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(image_path("grayscale.svg"));
    filter: gray;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      opacity: 1.0;

      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      filter: none;
    }
  }
}

.debug_dump {
  margin-top: 45px;
}