<footer>
  <div class="container">
    <span id="rails_logo"><%= link_to image_tag("rails.png", alt: "Rails", title: "Built on Rails"), 'http://rubyonrails.org/' %></span>
    <p class="text-muted">
      <a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl<br><br>
      <%= link_to "About",   about_path %></li> /
      <%= link_to "Contact", contact_path %></li> /
      <a href="http://news.railstutorial.org/">News</a>
    </p>
  </div>
</footer>